repos:
- repo: https://github.com/lorenzwalthert/precommit
  rev: v0.4.3.9020
  hooks:
  - id: style-files
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/woodruffw/zizmor-pre-commit
  rev: v1.22.0
  hooks:
  - id: zizmor
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.5.0
  hooks:
  - id: detect-secrets
